<%- include('partials/favi') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Uneverso - Your Easy Buy</title>
</head>
<body>
    <div class="navbar container">
        <div class="logo">
            <img src="/images/logo.png" alt="" class="logo">
        </div>
        <nav class="margin-nav">
            <ul id="menuitems">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <% if(!currentUser){ %>
                    <li>
                        <a href="/login">Account</a>
                    </li>
                <% } else { %>
                    <li ><a href="/dashboard">
                        Signed in as <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart"><img src="/images/cart.png" width="30px" height="30px" class="cart-nav"></a></li>
                <% } %>
            </ul>
        </nav>
        <img src="/images/menu.png" alt="" class="menu-icon" onclick="menutoggle()">
    </div>
    <div class="row container">
        <div class="col-2">
            <img src="<%= foundProduct.image %>" alt="About Image" class="image-product">
        </div>
        <div class="col-2">
            <p>Category: <%= foundProduct.category %></p>
            <h1><%= foundProduct.title %></h1>
            <p><%= foundProduct.body %></p>
            <% if(foundProduct.price.search("₹") != -1){ %>
                <h1><%= foundProduct.price %></h1>
              <% } else { %>
                <h1>₹<%= foundProduct.price %></h1>
              <% } %>
            <% if(foundProduct.strategy == "network") { %>
                <a href="/product/cart/<%= foundProduct._id %>" class="btn btn-danger">Add to Cart</a>
                <a href="/buynow/<%= foundProduct._id %>" class="btn btn-primary">Buy Now</a>
            <% } else { %>
                <a href="/product/affiliate/<%= foundProduct._id %>" class="btn btn-danger">Continue from Amazon</a>
            <% } %>
        </div>
    </div>
    <div class="footer">
        <hr>
        <div class="row">
            <div class="col-4">
                <h3>Uneverso Stores</h3>
                <br>
                <p class="footer-about">Uneverso Stores is the one destination for getting amazing cashbacks and discounts. This company believes in the benefit of the customer while keeping itself the zone for opportunities. So, if you wanna make money and have fun doing it. We would be honoured to have you join our team.</p>
                <br>
                <p class="footer-about">☏ +91 9182935177</p>
                <p class="footer-about">✉ teamofficial@uneversostores.com</p>
            </div>
            <div class="col-4">
                <h4 class="footer-about">Quick Links</h4>
                <br>
                <ul>
                    <li><a href="#" class="footer-about">Home</a></li>
                    <li><a href="#" class="footer-about">Products</a></li>
                    <li><a href="#" class="footer-about">About</a></li>
                    <li><a href="#" class="footer-about">Contact</a></li>
                    <li><a href="#" class="footer-about">Account</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4 class="footer-about">Social Links</h4>
                <br>
                <ul>
                    <li><a href="#" class="footer-about"><i class="fa fa-facebook-official"></i>Facebook</a></li>
                    <li><a href="#" class="footer-about">Instagram</a></li>
                    <li><a href="#" class="footer-about">Twitter</a></li>
                    <li><a href="#" class="footer-about">Whatsapp</a></li>
                </ul>
            </div>
        </div>
        <p class="footer-text">&copy; Uneverso Stores. All rights reserved 2020. Developed and Designed by @anandkishorprasad.</p>
    </div>
</body>
</html>

<script>
    // js for toggle

    var menuitems = document.getElementById("menuitems");
    
    menuitems.style.maxHeight = "300px";

    function menutoggle(){
        if(menuitems.style.maxHeight == "300px"){
            menuitems.style.maxHeight = "0px";
        } else {
            menuitems.style.maxHeight = "300px";
        }
    }
</script>